<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-4">
    <h2>Order History</h2>
    <p class="text-muted">Find all orders by author name.</p>

    <form th:action="@{/order/history}" method="post">
        <div class="form-group">
            <label for="authorInput">Author</label>
            <input id="authorInput"
                   name="author"
                   type="text"
                   class="form-control col-md-6"
                   placeholder="Enter author name"
                   required>
        </div>
        <button id="searchOrderButton" type="submit" class="btn btn-primary">Show Orders</button>
        <a th:href="@{/order/create}" class="btn btn-secondary">Create New Order</a>
    </form>
</div>
</body>
</html>
