name: PMD Scan

on:
  push:

permissions:
  contents: read
  security-events: write

jobs:
  pmd:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Run PMD
        uses: pmd/pmd-github-action@v2
        with:
          version: "7.0.0-rc4"
          sourcePath: "."
          rulesets: "rulesets/java/quickstart.xml"
          analyzeModifiedFilesOnly: false

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: pmd-report.sarif
